[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
tqdm = "*"
pandas = "*"
sentence-transformers = "*"
torch = "*"
torchvision = "*"
importlib-metadata = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
